server:
  port: 80

# 服务别名---consul注册中心名称
spring:
  application:
    name: consumer
  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        service-name: ${spring.application.name}